h1{
    background-color: darkseagreen;
    color: whitesmoke;
    height: 50px;
    width: 100px;

}
h2{
    color: #FAF8F1;
    background-color: #C58940;
    height: 50px;
    width: 100px;
}
body{
    background-color: antiquewhite;
}