body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.card img{
  float: left;
  height: 200px;
  margin-right:50px;
  
  
}
.left{
  float: left;

}
.right{
  float: right;
}

.card {
  width: 45%;
  
}


@media(max-width: 680px){

  .logo{
    height: 20px;
    width: 100px;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card img{
    width: 100%;
    margin-bottom: 30px;
    display: inline;
    object-fit: cover;


  }
  .card{
    text-align: justify;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    
    border: 1px solid black;

  }



}




